
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Press+Start+2P&family=Prompt:ital,wght@0,300;0,600;1,300;1,400;1,600&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,700&display=swap'); /*Source Serif Pro, Prompt,Press Start 2P, Lalezar*/



/*GRID STUFF*/

/* Layout styles -----------------------------------*/
/*mobile site*/

@media (min-width: 620px) {
    main {
      column-count: 1;
      column-gap: 20px;
    }
    
    section {
      break-inside: avoid;
    }
  }
  
  @media (min-width: 960px) {
    main {
       column-count: 3;
    }
  }


/*desktop*/


body{
    background: #b9895c;
    font-family: "Source Serif Pro", "Times new roman", serif;
    font-size: 2em;
}

main {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px 20px auto;
    column-count: 1;
    background-color: #b9895c;
}

section {
    border-radius: 3px;
    background-color: transparent;
    margin-bottom: 20px;
    overflow: hidden;
}


.bannerimage{
    grid-area: bannerimage;
    grid-column: span 2fr;
    grid-row: 0;
}

.topsection{
    padding: 0;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 16px;
    margin:0;
    overflow: hidden;
    border: 2px solid yellow;
    border-top: solid;
    border-bottom: solid;
    border-top-color: yellow;
    border-bottom-color: yellow;
    background-color: rgb(255, 123, 36);
} 

.navlist{
    text-decoration: none;
    font-size: .85em;
    font-family: 'Press start 2P', Haettenschweiler, sans-serif;
    float: left;
    position: relative;
}

@media (min-width: 620px) {
    .navlist {
      font-size: 1.2em;
    }
  }

.divider {
    position: absolute;
    right: -1em;
    top: 0.01em;
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (min-width: 620px){
.divider {
    position: absolute;
    right: -1.5em;
    top: 0.01em;
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
}

@media (min-width: 620px){
.divider {
    position: absolute;
    right: -1.5em;
    top: 0.01em;
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

}@media (min-width: 960px){
    .divider {
        position: absolute;
        right: -4em;
        top: 0.01em;
        color: yellow;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    }

a:link {
    color: yellow;
}

a:visited {
    color: yellow;
}

a:hover {
    color: rgb(45, 226, 250);
    text-decoration: underline;
}


.welcome{
    grid-area: welcome;
}

.oddjustice {
    
}

.description{
    grid-area: description;
}



.selectprompt{
    grid-area: selectprompt;
    align-items: center;
}

.episodeimage {
    display: block;
    width: 100%;
    object-fit: contain;
 }
 
 .pickepisode{
     grid-area: pickepisode;
     grid-template-columns: 0;
 }

.about{
    grid-area: about;
}

footer{
    grid-area: footer;
}


/*generic stuff*/




/*Juno color stuff*/
.juno-color {
    font-size: 2em,;
    font-weight: 500;
    background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
   -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.juno-color:hover,
.juno-color:focus {
   background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
   -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

