
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Press+Start+2P&family=Prompt:ital,wght@0,300;0,600;1,300;1,400;1,600&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,700&display=swap'); /*Source Serif Pro, Prompt,Press Start 2P, Lalezar*/



/*GRID STUFF*/

/* Layout styles -----------------------------------*/
/*mobile site*/

@media (min-width: 500px) {
    main {
      column-count: 2;
      column-gap: 20px;
    }
    
    section {
      break-inside: avoid;
    }
  }
  

*, *:before, *:after {
    box-sizing: inherit;
}


/*desktop*/

body{
    color: black;
    background-color: #8f6584;
    font-family: "Source Serif Pro", "Times new roman", serif;
}

main {
    max-width: 960;
    margin: 0 auto;
    padding: 20px;
}


.bannerimage{
    grid-area: bannerimage;
    grid-column: auto;
    grid-row: 0;
    padding: 0;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 3px solid;
    background-color: white;
} 

.navlist{
    text-decoration: none;
    font-size: .9em;
    font-family: 'Press start 2P', Haettenschweiler, sans-serif;
}

.welcome{
    grid-area: welcome;
}

.description{
    grid-area: description;
}

.selectprompt{
    grid-area: selectprompt;
}

.pickjuno{
    grid-area: pickjuno;
}

.about{
    grid-area: about;
}

footer{
    grid-area: footer;
}


/*generic stuff*/
a:link {
    color: gold;
}
a:visited {
    color: gold;
}



/*Juno color stuff*/
.juno-color {
    font-size: 2em,;
    font-weight: 500;
    background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
   -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.juno-color:hover,
.juno-color:focus {
   background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
   -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}