
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Press+Start+2P&family=Prompt:ital,wght@0,300;0,600;1,300;1,400;1,600&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,700&display=swap'); /*Source Serif Pro, Prompt,Press Start 2P, Lalezar*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(184, 184, 184);    
}

/*Gets rid of purple when something is already clicked on*/

a:link {
    color: #f17e1f;
}
a:visited {
    color: #f17e1f;
}


/*Controls the navbar*/

header {
    margin-top: 0em;
    left: 0;
    right:0;
    font-size: 1em
}

nav ul {
    margin: 0;
    Padding: 1.5em;
}


nav li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 1em;
    text-align: center;
}

nav a {
    text-transform: uppercase;
    font-size: .8em;
    font-family: 'Press Start 2P', cursive;
    padding: 0;
    width: 100%;
}

img.banner {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.container {
    margin:0 auto;
    width: 95%;
    text-align: center;
}

.button {
    display: inline-block; 
    font-size: 1em;
    text-transform: ;
}

 .juno-color {
     font-size: 2em,;
     font-weight: 500;
     background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
.juno-color:hover,
.juno-color:focus {
    background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}