
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Press+Start+2P&family=Prompt:ital,wght@0,300;0,600;1,300;1,400;1,600&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,700&display=swap'); /*Source Serif Pro, Prompt,Press Start 2P, Lalezar*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(156, 123, 149);    
}

/*Gets rid of purple when something is already clicked on*/

a:link {
    color: gold;
}
a:visited {
    color: gold;
}


/*Controls the navbar*/

header {
    margin-top: 0em;
    left: 0;
    right:0;
    font-size: 1em
}

nav ul {
    margin: 0;
    Padding: 0em;
}


nav li {
    display: grid;
    
    margin-left: auto;
    margin-right: auto;
    margin: 0em;
    border: orange;
}

nav a {
    text-transform: uppercase;
    font-size: .9em;
    font-family: 'Press Start 2P', cursive;
    padding: .8em;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

/*This will make phone sections not be aligned to the edge of the screen*/
.containerforphone {
    margin:0 auto;
    width: 95%;
    text-align: center;
}

.button {
    display: inline-block; 
    font-size: 1em;
    text-transform: ;
}

/*Juno color stuff*/
 .juno-color {
     font-size: 2em,;
     font-weight: 500;
     background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }
.juno-color:hover,
.juno-color:focus {
    background: -webkit-linear-gradient(Left, #C30000,#7300c0,#7300c0, #0287e6);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SelectaDemo {

}
.wrapper{
    display: grid;
    grid-template-columns: ;
}

.wrapper > div{
    background:
}
.wrapper > div:nth-child(odd){
    background:
}

.wholesite {
    grid-template-columns: 100% 50% 50%;
}